[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
networkx = "*"

[dev-packages]
mdanalysis = "*"
pairlist = "*"
networkx = "*"
py3dmol = "*"
cycless = "*"
twine = "*"
jupyter = "*"
toml = "*"
genice2 = "*"
jinja2 = "*"
pdoc = "*"

[requires]
python_version = "3.11"
